.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 7px 15px;
  border-bottom: 1px solid rgb(167, 167, 167);
}

.task-container > p {
  align-items: center;
  margin: 0;
}

.icons-container {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  font-size: small;
}

.icon:first-child {
  border: 2px solid rgb(108, 255, 88);
  color: rgb(108, 255, 88);
}

.icon:last-child {
  border: 2px solid rgb(255, 37, 37);
  color: rgb(255, 37, 37);
}
